body {
	cursor: none;
	overscroll-behavior: none;
}

.scrollContainer {
	display: flex;
	flex-wrap: nowrap;
	overscroll-behavior: none;
	overflow: hidden;
}

.test-component {
	min-width: 500px;
	height: 100vh;
	background-color: aqua;
}

.test-component2 {
	min-width: 1600px;
	height: 100vh;
	background-color: green;
}
